.addBird{
    flex: 0 0 92.5%;
    overflow: scroll;
    overflow-x: hidden;
}

.addBird-top{
    text-align: center;
}

.addBird-title{
    padding: 0.8rem 0.9rem;
    box-sizing: border-box;
    background-color: #0A9DB4;
    color: black; 
    font-size: 1.5rem;
}

.addBird-form{
    padding: 3rem;
    box-sizing: border-box;
}

.addBird-form div{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2rem;
}
.addBird-form label{
    margin-bottom: 0.2rem;
}
.addBird-form input[type="text"],
.addBird-form input[type="date"],
.addBird-form select{
    padding: 0.8rem 0.9rem;
    box-sizing: border-box;
    font-size: 0.9rem;
}

.addBird-form input[type="submit"]{
    padding: 0.6rem 0.9rem;
    margin-top: 1.3rem;
    background-color: #0A9DB4;
    color: white;
    border: none;
    cursor: pointer;
}


label{
    margin-right: 10px;
}

input{
    padding: 0.5rem 0.6rem;
}



.addBird-error{
    margin-top: 0.3rem;
    color: rgb(255, 0, 0);
}
.addBird-error:before{
    content: "";
    background-image: url('../assets/error.svg');
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    margin-right: 5px;
}

.addbird-takeover-wrap{
    display: flex;
    flex-direction: row !important;
    gap: rem;
}

.addbird-takeover-wrap{
    display: flex;
    gap: 2rem;
}

.addBird-takeover .addbird-takeover-wrap div{
    display: flex;
    flex-direction: row;
}
.addBird-takeover p{
    margin-bottom: 0.8rem;
}
.addBird-takeover div input{
   margin-top: 5px;
}