.bandingSite{
    flex: 0 092.5%;
    overflow: scroll;
    overflow-x: hidden
}

.bandingSite-title{
    padding: 0.8rem 0.9rem;
    box-sizing: border-box;
    background-color: #0A9DB4;
    color: black; 
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

.bandingSite-content{
    padding:  1rem 3rem;
}

.bandingSite-content ul{
    list-style-type: none;
}
.bandingSite-content li{
    margin-bottom: 3rem;
    background-color: #3C3E5A;
    box-shadow: 1px 1px 8px black;
}
.bandingSite-content ul li .site-top{
    background-color: #222831;
    padding: 0.8rem 0.9rem;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
}
.bandingSite-content ul li .site-top:before{
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url('../assets/pin.svg');
    background-size: 100%;
    margin-right: 10px;
}
.bandingSite-content ul li .site-bot{
    padding: 0.8rem 0.9rem;
}
.bandingSite-content ul li .site-bot p{
    margin-bottom: 0.4rem;
}
