.bandingSite{
    flex: 0 092.5%;
    overflow: scroll;
    overflow-x: hidden
}

.bandingSite-title{
    padding: 0.8rem 0.9rem;
    box-sizing: border-box;
    background-color: #0A9DB4;
    color: black; 
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

.bandingSite-content{
    padding:  1rem 3rem;
}

.bandingSite-content ul{
    list-style-type: none;
}
.bandingSite-content li{
    margin-bottom: 3rem;
    background-color: #3C3E5A;
    padding: 0.8rem 1.9rem;
    box-shadow: 1px 1px 8px black;
}
.bandingSite-content ul li div:first-child{
    background-color: #0A9DB4;
    padding: 0.2rem 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}
.bandingSite-content ul li div+div p{
    margin-bottom: 0.2rem;
}
