.captureList{
    flex: 0 092.5%;
    overflow: scroll;
    overflow-x: hidden;
}

.captureList-title{
    padding: 0.8rem 0.9rem;
    box-sizing: border-box;
    background-color: #0A9DB4;
    color: black; 
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

.captureList-content{
    padding:  1rem 3rem;
}

.captureList-content ul{
    list-style-type: none;
}
.captureList-content li{
    text-align: center;
    margin-bottom: 2rem;
}
.captureList-content ul a{
    text-decoration: none;
    color: white;
    background-color: #3C3E5A;
    padding: 0.8rem 3.9rem;
}
.captureList-content ul a:hover{
    background-color: #54577e;

}


.capturedBird{
    padding: 3rem;
    background-color: #3C3E5A;
}

.capturedBird dt{
    font-weight: bold;
    margin-bottom: 0.2rem;
    background-color: lightslategray;
    padding: 0.7rem 0.7rem;
}