.encyclopedia{
    flex: 0 092.5%;
    overflow: scroll;
    overflow-x: hidden
}

.encyclopedia-title{
    padding: 0.8rem 0.9rem;
    box-sizing: border-box;
    background-color: #0A9DB4;
    color: black; 
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

.encyclopedia-content{
    padding: 1rem 3rem;
}

.encyclopedia-item{
    margin-bottom: 2rem;
}

.encyclopedia-item-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
}
.encyclopedia-item-link:hover{
    transform: scale(1.1);
    transition: transform 0.3s;
}

.encyclopedia-item-img{
    width: 80%;
    border-radius: 10px 10px 0 0;
}

.encyclopedia-item-name{
    background-color: #3C3E5A;
    width: 80%;
    box-sizing: border-box;
    padding: 1.2rem;
    text-align: center;
    border-radius: 0 0 10px 10px;
}


