.encyclopedia{
    flex: 0 092.5%;
    overflow: scroll;
    overflow-x: hidden
}

.encyclopedia-title{
    padding: 0.8rem 0.9rem;
    box-sizing: border-box;
    background-color: #0A9DB4;
    color: black; 
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0.5rem;
}
