.encyclopedia{
    flex: 0 092.5%;
    overflow: scroll;
    overflow-x: hidden
}

.encyclopedia-title{
    padding: 0.8rem 0.9rem;
    box-sizing: border-box;
    background-color: #0A9DB4;
    color: black; 
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

.encyclopedia-content{
    padding: 1rem 3rem;
}

.encyclopedia-content ul{
    list-style-type: none;
}

.encyclopedia-content li{
    margin-bottom: 3rem;
    background-color: #3C3E5A;
    padding: 0.8rem 1.9rem;
    box-shadow: 1px 1px 8px black;
    text-align: center;
}


.encyclopedia-content ul a{
    text-decoration: none;
    color: white;
    background-color: #3C3E5A;
}
.encyclopedia-content ul a:hover{
    background-color: #54577e;

}
