.users{
    flex: 0 092.5%;
    overflow: scroll;
    overflow-x: hidden
}

.users-title{
    padding: 0.8rem 0.9rem;
    box-sizing: border-box;
    background-color: #0A9DB4;
    color: black; 
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

.users-content{
    padding: 1rem 3rem;
}

.users-content ul{
    list-style-type: none;
}

.users-content li{
    margin-bottom: 3rem;
    background-color: #3C3E5A;
    box-shadow: 1px 1px 8px black;
}


.users-content ul .user-name{
    background-color: #222831;
    padding: 0.8rem 0.9rem;
    display: flex;
    align-items: center;
}
.users-content ul .user-name:before{
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url('../assets/user.svg');
    background-size: 100%;
    margin-right: 10px;
}


.users-content li .user-info{
    padding: 0.8rem 0.9rem;
}
.users-content li .user-info p{
    margin-bottom: 0.4rem;
}
